<h1> Find Restaurants for an Item </h1>
<%= form_for :dish, :url => '/dish/findrestaurants/', :method => 'post' do |f| %>
	
	Dish Name :    <%= f.text_field 'item' %> 
	<br><br>
	<%= f.submit 'Search' %>

<% end %>