<h1> Listing Restaurants </h1>
<table>
  <tr>
    <th>Name/th>
    <th>Address</th>
  </tr>
<%= @result.each do |res| %>
	<tr>
		<td> <%= res.name %> </td>
		<td> <%= res.address %> </td>
		<td> <%= link_to 'Comments',controller: 'rating',action: '',method: :post %> </td>
	</tr>
	<%end%>
</table>