<h1>Welcome to Dish-o-licious!</h1>
<h2>Please click the link below to start discovering</h2>
<%= link_to "Search" , action:'find',method: :get %> 
<hr/>
<h2> You're at the right place if the foods below are your favorite: </h2>
	<ol>

		<li>Pizza</li>
		<li>Biryani</li>
		<li>Icecream</li>
		<li>Cake</li>
		<li>Burgers</li>
		<li>Barbeque</li>

	</ol>

<hr/>